# Checkpoint 1

## Carregar módulos

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Carregar dados

In [ ]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [ ]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

## Ajustes

- Nomes das colunas

In [ ]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [ ]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [ ]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '4/11/21', '4/12/21', '4/13/21', '4/14/21', '4/15/21', '4/16/21',
       '4/17/21', '4/18/21', '4/19/21', '4/20/21'],
      dtype='object', length=459)

- Reajustar dados

In [ ]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [ ]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [ ]:
dados_paises_covid_dead.tail()

       province             country        Lat        Long     date  dead
124665      NaN             Vietnam  14.058324  108.277199  4/20/21    35
124666      NaN  West Bank and Gaza  31.952200   35.233200  4/20/21  3078
124667      NaN               Yemen  15.552727   48.516388  4/20/21  1138
124668      NaN              Zambia -13.133897   27.849332  4/20/21  1236
124669      NaN            Zimbabwe -19.015438   29.154857  4/20/21  1554

In [ ]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [ ]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [ ]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [ ]:
dados_paises_covid.tail()

       province             country        Lat        Long       date  infected
124665      NaN             Vietnam  14.058324  108.277199 2021-04-20      2800
124666      NaN  West Bank and Gaza  31.952200   35.233200 2021-04-20    284280
124667      NaN               Yemen  15.552727   48.516388 2021-04-20      5918
124668      NaN              Zambia -13.133897   27.849332 2021-04-20     91042
124669      NaN            Zimbabwe -19.015438   29.154857 2021-04-20     37875

In [ ]:
dados_paises_covid_dead.tail()

       province             country        Lat        Long       date  dead
124665      NaN             Vietnam  14.058324  108.277199 2021-04-20    35
124666      NaN  West Bank and Gaza  31.952200   35.233200 2021-04-20  3078
124667      NaN               Yemen  15.552727   48.516388 2021-04-20  1138
124668      NaN              Zambia -13.133897   27.849332 2021-04-20  1236
124669      NaN            Zimbabwe -19.015438   29.154857 2021-04-20  1554

- Combinar os datasets

In [ ]:
dados_paises_covid.shape

(124670, 6)

In [ ]:
dados_paises_covid_dead.shape

(124670, 6)

In [ ]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [ ]:
dados_covid.tail()

       province             country        Lat  ...       date infected  dead
124665      NaN             Vietnam  14.058324  ... 2021-04-20     2800    35
124666      NaN  West Bank and Gaza  31.952200  ... 2021-04-20   284280  3078
124667      NaN               Yemen  15.552727  ... 2021-04-20     5918  1138
124668      NaN              Zambia -13.133897  ... 2021-04-20    91042  1236
124669      NaN            Zimbabwe -19.015438  ... 2021-04-20    37875  1554

[5 rows x 7 columns]

## Aqui começa o trabalho

##Exercicio 1 - Quantos países existem no banco de dados?

In [ ]:
#Filtrar pela data especificada
filtro_data = dados_covid[dados_covid['date'] == '2021-03-27']
filtro_data

       province             country        Lat  ...       date infected  dead
117820      NaN         Afghanistan  33.939110  ... 2021-03-27    56290  2469
117821      NaN             Albania  41.153300  ... 2021-03-27   123641  2204
117822      NaN             Algeria  28.033900  ... 2021-03-27   116750  3077
117823      NaN             Andorra  42.506300  ... 2021-03-27    11809   115
117824      NaN              Angola -11.202700  ... 2021-03-27    22031   533
...         ...                 ...        ...  ...        ...      ...   ...
118089      NaN             Vietnam  14.058324  ... 2021-03-27     2586    35
118090      NaN  West Bank and Gaza  31.952200  ... 2021-03-27   234748  2557
118091      NaN               Yemen  15.552727  ... 2021-03-27     3969   832
118092      NaN              Zambia -13.133897  ... 2021-03-27    87583  1198
118093      NaN            Zimbabwe -19.015438  ... 2021-03-27    36818  1519

[274 rows x 7 columns]

In [ ]:
num_paises = filtro_data.groupby('country').agg(mortes = pd.NamedAgg(column = 'dead',
                                                                     aggfunc = np.sum),
                                                infectados = pd.NamedAgg(column = 'infected',
                                                                         aggfunc = np.sum),) \
                                                                         .sort_values('mortes').reset_index()
num_paises

                   country  mortes  infectados
0                     Laos       0          49
1    Saint Kitts and Nevis       0          44
2               Micronesia       0           1
3                    Samoa       0           3
4                  Vanuatu       0           3
..                     ...     ...         ...
187         United Kingdom  126813     4343066
188                  India  161552    11971624
189                 Mexico  201429     2224904
190                 Brazil  310550    12490362
191                     US  549212    30221396

[192 rows x 3 columns]

##Exercicio 2 - Quantos casos de infectados e mortes Brasil, Itália e E.U.A. possuem até o momento?

In [ ]:
#Filtro colunas 
dados_country_infected_dead = dados_covid[['country', 'infected', 'dead', 'date']]
dados_country_infected_dead

                   country  infected  dead       date
0              Afghanistan         0     0 2020-01-22
1                  Albania         0     0 2020-01-22
2                  Algeria         0     0 2020-01-22
3                  Andorra         0     0 2020-01-22
4                   Angola         0     0 2020-01-22
...                    ...       ...   ...        ...
124665             Vietnam      2800    35 2021-04-20
124666  West Bank and Gaza    284280  3078 2021-04-20
124667               Yemen      5918  1138 2021-04-20
124668              Zambia     91042  1236 2021-04-20
124669            Zimbabwe     37875  1554 2021-04-20

[124670 rows x 4 columns]

In [ ]:
#Filtro linha País - Lembrar se for str colocar aspas simples antes '
filtro_Br = dados_country_infected_dead [dados_country_infected_dead['country'] == 'Brazil']
filtro_Br
  
#Filtro linha data 2021-03-22 para identificar mortos e infectados
infec_Br_date = filtro_Br [filtro_Br['date'] == '2021-03-27' ]
infec_Br_date

       country  infected    dead       date
117850  Brazil  12490362  310550 2021-03-27

In [ ]:
filtro_Br

       country  infected    dead       date
30      Brazil         0       0 2020-01-22
304     Brazil         0       0 2020-01-23
578     Brazil         0       0 2020-01-24
852     Brazil         0       0 2020-01-25
1126    Brazil         0       0 2020-01-26
...        ...       ...     ...        ...
121138  Brazil  13279857  345025 2021-04-08
121412  Brazil  13373174  348718 2021-04-09
121686  Brazil  13445006  351334 2021-04-10
121960  Brazil  13482023  353137 2021-04-11
122234  Brazil  13517808  354617 2021-04-12

[447 rows x 4 columns]

In [ ]:
#Filtro linha País - Lembrar se for str colocar aspas simples antes '
filtro_us = dados_country_infected_dead [dados_country_infected_dead['country'] == 'US']
filtro_us

#Filtro linha data 2021-03-22 para identificar mortos e infectados
infec_us_date = filtro_us [filtro_us['date'] == '2021-03-27' ]
infec_us_date

       country  infected    dead       date
118069      US  30220061  549103 2021-03-27

In [ ]:
#Filtro linha País - Lembrar se for str colocar aspas simples antes '
filtro_it = dados_country_infected_dead [dados_country_infected_dead['country'] == 'Italy']
filtro_it

#Filtro linha data 2021-03-22 para identificar mortos e infectados
infec_it_date = filtro_it [filtro_it['date'] == '2021-03-27' ] 
infec_it_date

       country  infected    dead       date
117972   Italy   3512453  107636 2021-03-27

##Exercicio 3 - Quais os 10 países que possuem os maiores valores de infectados? E quais os 10 de maiores mortes?

In [ ]:
num_paises.sort_values('infectados', ascending = False).reset_index(drop = True).head(10)

          country  mortes  infectados
0              US  549212    30221396
1          Brazil  310550    12490362
2           India  161552    11971624
3          France   94623     4569164
4          Russia   95792     4460348
5  United Kingdom  126813     4343066
6           Italy  107636     3512453
7           Spain   75010     3255324
8          Turkey   30923     3179115
9         Germany   75915     2782925

In [ ]:
num_paises.sort_values('mortes', ascending = False).reset_index(drop = True).head(10)

          country  mortes  infectados
0              US  549103    30220061
1          Brazil  310550    12490362
2          Mexico  201429     2224904
3           India  161552    11971624
4  United Kingdom  126813     4343066
5           Italy  107636     3512453
6          Russia   95792     4460348
7          France   94623     4569164
8         Germany   75915     2782925
9           Spain   75010     3255324

##Exercicio 4 - Criar uma coluna denominada taxa de mortalidade (mortos/infectados). Quais os 10 países que  possuem  maiores  valores  desta  taxa?Você  acredita  que  a  taxa  de  mortalidade  uma  boa métrica? Quais vieses você conseguiu perceber?

In [ ]:
num_paises ['taxa_de_mortalidade'] = num_paises['mortes'] / num_paises['infectados']
num_paises

                   country  mortes  infectados  taxa_de_mortalidade
0                     Laos       0          49             0.000000
1    Saint Kitts and Nevis       0          44             0.000000
2               Micronesia       0           1             0.000000
3                    Samoa       0           3             0.000000
4                  Vanuatu       0           3             0.000000
..                     ...     ...         ...                  ...
187         United Kingdom  126813     4343066             0.029199
188                  India  161552    11971624             0.013495
189                 Mexico  201429     2224904             0.090534
190                 Brazil  310550    12490362             0.024863
191                     US  549103    30220061             0.018170

[192 rows x 4 columns]

In [ ]:
num_paises.sort_values('taxa_de_mortalidade', ascending = False).reset_index(drop = True).head(10)

      country  mortes  infectados  taxa_de_mortalidade
0  MS Zaandam       2           9             0.222222
1       Yemen     832        3969             0.209625
2      Mexico  201429     2224904             0.090534
3       Syria    1227       18356             0.066845
4       Sudan    2028       31407             0.064572
5       Egypt   11845      199364             0.059414
6     Ecuador   16679      322699             0.051686
7       China    4841      101663             0.047618
8     Bolivia   12165      269302             0.045172
9     Somalia     488       10838             0.045027

Resposta: A taxa de mortalidade não é uma boa métrica, pois não possui um comparativo com a população do país e não identifica os paises que estão com o maior problema atualmente.

Outro ponto é que aparentemente o país com o maior indice corresponde a um navio que sofreu com um problema de infectados.

https://www.bloomberg.com/features/2020-zaandam-pariah-ship/
#
https://en.wikipedia.org/wiki/MS_Zaandam

##Exercicio 5 – Gere os seguintes gráficos:

###a)Gráfico  de  linhas  contendo  a  evolução  do  número  de  infectados  do  Brasil e Estados Unidos.

In [ ]:
filtro_Br_pivot_inf = filtro_Br.pivot(index = 'date', columns = 'country', values = 'infected')

NameError: ignored

In [ ]:
filtro_Us_pivot_inf = filtro_us.pivot(index = 'date', columns = 'country', values = 'infected')
filtro_Us_pivot_inf

NameError: ignored

In [ ]:
df_BrXUs_inf = pd.concat([filtro_Br_pivot_inf,filtro_Us_pivot_inf], sort = False,axis=1)
df_BrXUs_inf

In [ ]:
graf_lin_inf = df_BrXUs_inf.plot.line()
plt.xlabel('Período')
plt.ylabel('Infectados')
plt.title('Evolução infectados Brasil x US')

###b)Gráfico de linhas contendo a evolução do número de mortos do Brasil e Estados Unidos.

In [ ]:
filtro_Br_pivot_dead = filtro_Br.pivot(index = 'date', columns = 'country', values = 'dead')

In [ ]:
filtro_Us_pivot_dead = filtro_us.pivot(index = 'date', columns = 'country', values = 'dead')

In [ ]:
df_BrXUs_dead = pd.concat([filtro_Br_pivot_dead,filtro_Us_pivot_dead], sort = False,axis=1)
df_BrXUs_dead

In [ ]:
graf_lin_dead = df_BrXUs_dead.plot.line()
plt.xlabel('Período')
plt.ylabel('Mortes')
plt.title('Evolução de mortes Brasil x US')

###c)Gráfico de barras comparando o número de infectadosde Brasil e Estados Unidos em 20/mar.

In [ ]:
filtro_inf_dead20mar = dados_country_infected_dead [dados_country_infected_dead ['date'] == '2021-03-20']
filtro_inf_dead20mar

In [ ]:
filtro_inf_dead20mar_brXus = filtro_inf_dead20mar[filtro_inf_dead20mar['country'].isin(['Brazil', 'US'])]
filtro_inf_dead20mar_brXus

In [ ]:
graf_inf = filtro_inf_dead20mar_brXus[['country', 'infected']]
graf_inf

In [ ]:
ax = graf_inf.plot.bar(x = 'country', y = 'infected', legend = None)
plt.xlabel('Países')
plt.ylabel('Infectados')
plt.title('Compativo de infectados 20/03/2021')

###d)Gráfico  de  barras  comparando  o  número  de  mortos  de  Brasil  e Estados  Unidos  em 20/mar.

In [ ]:
graf_dead = filtro_inf_dead20mar_brXus[['country', 'dead']]
graf_dead

In [ ]:
bx = graf_dead.plot.bar(x = 'country', y = 'dead', legend = None)
plt.xlabel('Países')
plt.ylabel('Mortes')
plt.title('Compativo de mortes 20/03/2021')

###e)Gráfico  de  barras  comparando  a  taxa  de  mortalidade  de  Brasil  e Estados  Unidos em 20/mar.

In [ ]:
filtro_data_20marc = dados_covid[dados_covid['date'] == '2021-03-20']
filtro_data_20marc

In [ ]:
num_paises_20marc = filtro_data_20marc.groupby('country').agg(mortes = pd.NamedAgg(column = 'dead',
                                                                     aggfunc = np.mean),
                                                infectados = pd.NamedAgg(column = 'infected',
                                                                         aggfunc = np.mean),) \
                                                                         .sort_values('mortes').reset_index()
num_paises_20marc

In [ ]:
num_paises_20marc ['taxa_de_mortalidade'] = num_paises_20marc['mortes'] / num_paises_20marc['infectados']
num_paises_20marc

In [ ]:
num_paises_20marc = num_paises_20marc[num_paises_20marc['country'].isin(['Brazil', 'US'])]
num_paises_20marc

In [ ]:
graf_taxmor = num_paises_20marc[['country', 'taxa_de_mortalidade']]
graf_taxmor

In [ ]:
cx = graf_taxmor.plot.bar(x = 'country', y = 'taxa_de_mortalidade', legend = None)
plt.xlabel('Países')
plt.ylabel('Taxa de mortalidade')
plt.title('Compativo de mortes/infectados 20/03/2021')